@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('fonts/glyphicons-halflings-regular.eot');
	src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
	margin: 0;
	padding: 0;
    font-family: 'Palatino Linotype' !important;
}

link {
    color: #007bff;
}

table {
    width: 100% !important;
}

button, link {
    cursor: pointer;
}

/* error messages */
.bg-danger, .bg-success {
    padding: 10px;
    display: none;
    margin-bottom: 10px;
    margin-right: 20px;
}

.error{
    color: #FF0D56;
}

.scaled {
    transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7); /*Firefox*/
    -ms-transform: scale(0.7, 0.7); /*Microsoft Internet Explorer*/
    -webkit-transform: scale(0.7, 0.7); /*Chrome, Safari*/
    -o-transform: scale(0.7, 0.7); /*Opera*/
}

/*************************************************** forms *******************************/

#login_form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#register_link {
    text-decoration: underline;
    cursor: pointer;
}

#passwordHelpBlock {
    margin-top: -8px;
    margin-bottom: 8px;
}

.required:after{
    color: #FF0D56;
    content: "*";
    position: absolute;
    margin-left: 5px;
}

#filter_form {
    margin-left: -16%;
    margin-top: 2%;
}

#filer_button {
    margin-top: 31px;
}

#profileForm {
    width: 90%;
}

.popupForm {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog {
    max-width: 600px !important;
}

.fixedBlock {
    position: fixed;
    margin-top: 40px;
    right: 15%;
}

.editForm, #chooseAuthorForm {
    margin-top: 17px;
}

.hidden {
    visibility: hidden;
}

/*************************************************** components *******************************/

.language {
    text-transform: uppercase;
    border-radius: 20px 0 20px 20px;
    border: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,.7);
    background-color: #e9ecef;
    color: #007bff;
    margin-left: 20px;
    padding: 2px 15px 7px;
}

.delimeter {
    padding-left: 30px;
}

#manageBooks {
    margin-right: 60px;
    margin-top: 92px;
}

.header-comps {
    margin-top: 7px;
    margin-bottom: 12px;
}

.jumbotron {
    padding: 1rem 2rem !important;
}
